{%load static%}
<div class="header-area header-transparent">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img src="{%static 'assets/img/logo/logo.png' %}" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="vacancy">Vacancy</a></li>
                            <li><a href="application">Application</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-btns d-none d-lg-block f-right">
                    <a href="signout" class="btn btn-primary">Logout</a>
                </div>
                <!-- Header-btn -->
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>